// Header zone
.chat-screen-header {
	width: 100%;
	padding-left: 16px;
	padding-top: 16px;
	position: relative;
	overflow: hidden;
}

.chat-owner-name {
	position: absolute;
	left: 67px;
	top: 29px;
	width: 107px;
	height: 27px;

	.chat-owner-name-text {
		width: 113px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: relative;
		top: 2px;
		left: 1px;
	}

	.red-noti-count {
		background-color: red;
		padding: 1px 3px 1px 3px;
		font-size: 8px;
		color: white;
		border-radius: 6px 6px 6px 6px;
		position: absolute;
		right: -25px;
		bottom: 6px;
	}

}

.chat-setting-zone {
	position: absolute;
	width: 84px;
	top: 35px;
	right: 20px;
}

.icon-logo-cover-line {
	background-color: #00b902;
	width: 22px;
	height: 23px;
	border-radius: 12px;
	margin-top: -4px;
	position: relative;
	cursor: pointer;

	.red-noti-count {
		background-color: red;
		padding: 1px 3px 1px 3px;
		font-size: 8px;
		color: white;
		border-radius: 6px 6px 6px 6px;
		position: absolute;
		right: -12px;
		bottom: 15px;
		z-index: 99;
	}

}

.logo-line-image {
	position: absolute;
	left: 3px;
	top: 4px;
	width: 16px;
}

.icon-logo-cover-facebook {
	background-color: #4167b2;
	width: 22px;
	height: 23px;
	border-radius: 12px;
	margin-top: -23px;
	left: 35px;
	position: relative;
	cursor: pointer;

	.red-noti-count {
		background-color: red;
		padding: 1px 3px 1px 3px;
		font-size: 8px;
		color: white;
		border-radius: 6px 6px 6px 6px;
		position: absolute;
		right: -12px;
		bottom: 15px;
		z-index: 99;
	}

}

.logo-facebook-image {
	position: absolute;
	left: 4px;
	top: 4px;
	width: 15px;
}

.setting-fishdot {
	position: absolute;
	right: 27px;
	top: -4px;
	cursor: pointer;
}

.logo-fishdot-image {
	position: absolute;
	left: 16px;
	top: 3px;
	width: 5px;
}