#MessageList {
  .btn-loadmore {
    border-radius: 16px;
    width: 180px;
    height: 30px;
    border: 2px solid rgba(90, 145, 238, 0.2);
  }

  .loadmore-font {
    font-size: 14px;
    font-weight: 500;
    color: #5A91EE;
  }
}