/********************/
// Chat screen Part
/*******************/

// overwrite background
#aw-chat-bot-app {
  background-color: #FFFF !important;
  overflow: hidden;
}

.count-noti {
  color: white;
  background-color: #1877f2;
  border-radius: 20px;
}