.backdrop-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: -64px;
  visibility: hidden !important;

  &.show {
    visibility: visible !important;
  }


  .contactlist-panel {
    background: #FFFFFF;
    box-shadow: 4px 4px 7px rgb(0 0 0 / 7%), 6px 6px 36px rgb(0 0 0 / 6%);
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 417px;
    position: relative;
    top: 500px;
    transition: top 0.3s;

    .crossicon_pic {
      position: absolute;
      top: -14px;
      right: 0;
      cursor: pointer;
    }

    &.show {
      top: 128px;
    }

    &.is-already-connect {

      &.show {
        top: 300px;
      }

      &.opensearch {
        top: 83px;
      }

    }

    .wrapper {
      width: 88%;
      height: 88%;
      margin: auto;
      position: relative;
      top: 31px;

      &.already-connect {

        .d-flex {
          justify-content: space-between;
        }

        .subheader {
          margin-top: 16px;
        }

        .namesur {
          font-size: 13px;
          font-weight: 100;
        }

        .call {
          font-size: 13px;
          font-weight: 100;
        }

        .connect-link {
          text-align: right;
          font-size: 15px;

          span {
            text-decoration: none;
            color: #1877F2;
            cursor: pointer;
          }

        }

        .info-content {
          margin-top: 6px;
          margin-bottom: 11px;
          font-size: 14px;
        }

        .separation-line {
          border: 0.5px solid rgba(0, 0, 0, 0.2);
          border-style: solid;
          width: 114%;
          height: 16px;
          border-color: #ddd8d8;
          position: relative;
          border-width: 0px 0px 1px 0px;
          margin-left: -18px;
          margin-right: -18px;
          position: relative;
          top: -15px;
        }

      }

      .header-title {
        font-weight: bold;
        font-size: 15px;
      }

      .subtitle-section {
        margin-top: 7px;
        font-size: 14px;

        .addmore-customer {
          color: #1877F2;
          cursor: pointer;
        }
      }

      .search-zone {
        margin-top: 9px;
        position: relative;

        input {
          border: 1px solid #f1ebeb;
          border-radius: 6px;
          width: 85%;
          height: 30px;
          padding-left: 34px;
          outline: none;
        }

        img {
          position: absolute;
          left: 11px;
          top: 9px
        }

      }

      .contactlist-name-display {
        margin-top: 9px;
        align-items: center;
      }

      .contact-search-result {
        margin-top: 10px;
        max-height: 172px;
        overflow-y: scroll;
        overflow-x: hidden;

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            margin-left: -18px;
            margin-right: -18px;
            padding-left: 18px;
            padding-right: 18px;
            cursor: pointer;
            padding-top: 1px;

            .contactname {
              font-size: 13px;
              margin-top: 2px;
              position: relative;
              bottom: 5px;
            }

            .contactnumber {
              font-size: 13px;
              margin-top: 2px;
              float: right;
              margin-left: 20px;
              position: relative;
              bottom: 5px;
            }

          }

          li:hover {
            background-color: #f3f3f3;
          }
        }

      }

      .contact-connection-button {
        background: #1877F2;
        border-radius: 8px;
        border-style: none;
        width: 100%;
        height: 38px;
        color: white;
        margin-top: 9px;
      }

    }

  }

  .success-popup {
    position: absolute;
    width: 253px;
    height: 240.43px;
    top: 114px;
    left: 25px;
    background: #FFFFFF;
    box-shadow: 4px 4px 7px rgb(0 0 0 / 7%), 6px 6px 36px rgb(0 0 0 / 6%);
    border-radius: 10px;
    visibility: hidden;
    overflow: hidden;

    &.show {
      visibility: visible;
    }


    .imagesucess-popup {
      position: relative;
      left: 2px;
    }

    .success-popup-title {
      font-weight: bold;
      text-align: center;
      font-size: 19px;
    }

    .success-popup-description {
      text-align: center;
    }

    input {
      position: absolute;
      top: -34px;
    }

  }

}